<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Mis datos</title>

     <h1>LUCATINDER</h1>



	<table>
		<thead>
            <tr>
				<th>Username</th>
				<th>Nombre</th>
				<th>Edad</th>
				<th>Password</th>
				<th>Genero</th>
				<th>Descripcion</th>
		
			</tr>
    <body>
       <p class="Mi username" th:text="'Mi username: '+${usuario.username}"></p>
	   <p class="Mi nombre" th:text="'name: '+${usuario.nombre}""></p>
	   <p class="Mi edad" th:number="'edad: '+${usuario.edad}""></p>
	   <p class="Mi password" th:password="'password: '+${usuario.password}""></p>
	   <p class="Mi genero" th:text="'genero: '+${usuario.genero}""></p>
	   <p class="Mi descripcion" th:text="'descripcion: '+${usuario.descripcion}""></h1>
	 
	  <form th:action="@{/eliminar}" th:object="${usuario}" method="post">
	    	<button type=submit>Eliminar Usuario</button>
	  </form>     
      <form th:action="@{/modificar}" th:object="${usuario}" method="post">
	    	<button type=submit>Modificar Usuario</button>
	  </form>     
    </table>
    </body>
</html>