<head>
		<title>Alta Usuario</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1>Datos Usuario</h1>
		        
			<form action="#" th:action="@{/datos}" th:object="${usuario}" method="post">
			    
			<div>
				Username: <input type="text" name="username" th:value= "${usuario.username}" required ></p>
			</div>
			<div>
				Password: <input type="password" name= "password" th:value= "${usuario.password}" minlength=6 maxlength=12 required ></p>
			</div>
			<div>
				<p>Nombre: <input type="text" name= "nombre" th:value= "${usuario.nombre}" required></p>
			</div>
			<div>
				Género(M/F): <input type="text" name="genero" th:value = "${usuario.genero}" pattern="M|F" required></p>
			</div>
			<div>
				Edad: <input type="number" th:name ="edad" th:value = "${usuario.edad}" min=18 max=90 required ></p>
			</div>
				Descripcion: <input type="text" th:name= "descripcion" th:value= "${usuario.descripcion}" style="HEIGHT:60px;WIDTH:120px" ></p>
			<div>
			
			<button type=submit>Modificar Usuario</button>
			</div>
		    </form>
		    <div>
		    <form th:action="@{/eliminar}" th:object="${usuario}" method="post">
		    	<button type=submit>Eliminar Usuario</button>
		    </form>
			</div>

</body>
</html>