<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Descartes</title>
</head>
    <body>
        <table>
            <tr>
                <td th:each="descartes: ${listadoDescartes}">
                    <p th:text="'Usuario: ' + ${descartes.username}"></p>
                    <p th:text="'Nombre: ' + ${descartes.nombre}"></p>
					<p th:text="'Edad:  ' + ${descartes.edad}"></p>
					<p th:text="'Genero:  ' + ${descartes.genero}"></p>
					<p th:text="'Descripción: ' + ${descartes.descripcion}"></p>
                </td>
            </tr>
        </table>
    </body>
</html>º