<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--Formulario que construye un objeto de tipo Usuario
	@author Jorge  -->

	<head>
		<title>Alta Usuario</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1>Formulario</h1>
		<form th:action="@{/alta}" th:object="${usuario}"
			method="post">
			<div>
				Username: <input type="text" th:field="*{username}" required />
			</div>
			<div>
				Password: <input type="password" th:field="*{password}" minlength=6 maxlength=12 required />
			</div>
			<div>
				Nombre: <input type="text" th:field="*{nombre}" required/>
			</div>
			
			<div>
				Género(M/F): <input type="text" th:field="*{genero}" pattern="M|F" required/>
			</div>
			<div>
				Edad: <input type="number" th:field="*{edad}" min=18 max=90 required />
			</div>
				Descripcion: <input type="text" style="HEIGHT:60px;WIDTH:120px" th:field="*{descripcion}">		
			<div>
				<input type="submit" value="Aceptar" /> <input type="reset" value="Reset" />
			</div>
		</form>
	</body> 
</html>

