<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Index</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{../../css/bootstrap.css}" />
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" style="margin-left: 2%" href="#"><h1>LucaTinder</h1></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="true" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse collapse justify-content-end">
			<span class="navbar-text"> Donde ligan los que no ligan </span>
		</div>

		<div class="collapse navbar-collapse collapse justify-content-end"
			id="navbarNav">
			<ul class="navbar-nav ml-auto">

				<li class="nav-item"><a class="nav-link" href="#">Perfil</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Contactos</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Descartes</a>
				<li class="nav-item"><a class="nav-link" href="#">Matches</a></li>
			</ul>
		</div>
	</nav>

	<!--<div class="container" style="width: 40rem; margin-top: 2%">
		<div class="card-header" style="float: left; width: 40%">
			<img class="card-img-left" width="100%"
				th:src="@{/../../img/user.png}" alt="Card image cap">
		</div>
		<div class="card-body" style="float: right; width: 60%">
			<h4 class="card-title">Card title</h4>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>-->


		<div class="container">
			<div class="row">
				<div class="col-sm">
					<div align="center" th:each="usuariolista : ${listaInicial}"
						class="container" style="width: 40rem; margin-top: 2%">

						<div class="card-header" style="float: left; width: 40%">
							<img class="card-img-left" width="100%"
								th:src="@{/../../img/user.png}" alt="Card image cap">
						</div>
						<div class="card-body" style="float: right; width: 60%">
							<h4 class="card-title" th:text="${usuariolista.nombre}">Card
								title</h4>
							<p class="card-text" th:text="'Edad: ' + ${usuariolista.edad}"></p>
							<p class="card-text"
								th:text="'Genero: ' + ${usuariolista.genero}"></p>
							<div>
								<form th:action="@{/addContacto}" th:object="${usuarioVacio}"
									method="post">
									<input type="hidden" th:value="${usuariolista.username}"
										name="username" /> <input type="submit" value="Like" />
								</form>
							</div>
							<div>
								<form th:action="@{/addDescarte}" th:object="${usuarioVacio}"
									method="post">
									<input type="hidden" th:value="${usuariolista.username}"
										name="username" /> <input type="submit" value="No Like" />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<script th:src="@{static/js/bootstrap.min.js}"></script>
	</ body>
</html>