<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Index</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
          <div> 
              <h1 style= "text-align: center">L U C A T I N D E R</h1>
              
          </div> 
   		<div style= "background-color: lightcoral">
			<ul> 
				<li th:each="elementoLista : ${listaInicial}"> 
					<p th:text="'Usuario: ' + ${elementoLista.username}"></p>
					<p th:text="'Nombre: ' + ${elementoLista.nombre}"></p>
					<p th:text="'Edad:  ' + ${elementoLista.edad}"></p>
					<p th:text="'Genero:  ' + ${elementoLista.genero}"></p>
					<p th:text="'Descripción: ' + ${elementoLista.descripcion}"></p>
					<input type="button" value="Like" onClick="this.disabled='disabled'" >
					<input type="button" value="No Like" onClick="this.disabled='disabled'" >
				</li>
        
    		</ul>
    	</div>
	</body> 
</html>

