<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Index</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
          <div> 
              <h1 style= "text-align: center">L U C A T I N D E R</h1>
              <nav>
                  <table>
                    <tr> 
                        <td>
                            <p> 
                                <a href="/datos" style="background-color: lightcoral"> 
                               		MI PERFIL 
                                </a>
                            </p>
                        </td>
                        <td>
                            <p> 
                                <a th:href="@{/listadoContactos}" style="background-color: lightcoral"> 
                                	MIS CONTACTADOS
                                </a>
                            </p>
                        </td>
                        <td>
                            <p> 
                                <a th:href="@{/listadoDescartes}" style="background-color: lightcoral"> 
                                	MIS DESCARTES
                                </a>
                            </p>
                        </td>
                         <td>
                            <p> 
                                <a th:href="@{/listadoMatches}" style="background-color: lightcoral"> 
                                	MIS MATCHES
                                </a>
                            </p>
                        </td>
                    </tr>
                  </table>
              </nav>
              
          </div> 
   		<div style= "background-color: lightcoral">
			<ul> 
				<li th:each="elementoLista : ${listaInicial}"> 
					<p th:text="'Usuario: ' + ${elementoLista.username}"></p>
					<p th:text="'Nombre: ' + ${elementoLista.nombre}"></p>
					<p th:text="'Edad:  ' + ${elementoLista.edad}"></p>
					<p th:text="'Genero:  ' + ${elementoLista.genero}"></p>
					<p th:text="'Descripción: ' + ${elementoLista.descripcion}"></p>
					<div>
					<form th:action="@{/addContacto}" th:object="${usuarioVacio}" method="post">
						<input type="hidden" th:value="${elementoLista.username}" name="username" />
				        <input type="submit" value="Like"/>
				    </form>
					</div>
					<div>
					<form th:action="@{/addDescarte}" th:object="${usuarioVacio}"  method="post">
						<input type="hidden" th:value="${elementoLista.username}"name="username"/>
                        <input type="submit" value="No Like"/>  
					</form>
					</div>
					
				</li>
        
    		</ul>
    	</div>
	</body> 
</html>