<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado Contactos</title>
</head>
    <body>
        <table>
           <caption>Listado Contactos</caption>
            <tr>
                <td th:each="elementoLista: ${listaContactos}">
                    <p th:text="'Usuario: ' + ${elementoLista.username}"></p>
                    <p th:text="'Nombre: ' + ${elementoLista.nombre}"></p>
					<p th:text="'Edad:  ' + ${elementoLista.edad}"></p>
					<p th:text="'Genero:  ' + ${elementoLista.genero}"></p>
					<p th:text="'Descripción: ' + ${elementoLista.descripcion}"></p>
                </td>
            </tr>
        </table>
    </body>
</html>